:root {
  --navHeight: 25px;
  --tabHeight: 20px;
  --tabWidth: 25vw;

  --text: rgb(0, 0, 0);
  --background: rgb(220, 220, 220);

  --minimizeColor: rgb(220, 220, 50);
  --maximizeColor: rgb(50, 220, 50);
  --closeColor: rgb(220, 50, 50);
  --controlText: rgb(0, 0, 0);

  --tabBackground: rgb(220, 220, 220);
  --tabSelected: rgb(190, 190, 190);
  --tabHover: rgb(210, 210, 210);

  --shadow: rgba(0, 0, 0, 0.25);
  --highlight: rgba(255, 255, 255, 0.25);
  --hoverHighlight: rgba(255, 255, 255, 0.10);
}

@font-face {
  font-family: 'ModeNine';
  src: url('MODENINE.TTF');
}

::-webkit-scrollbar {
  width: var(--tabHeight);
}

::-webkit-scrollbar-track {
  background-color: var(--tabBackground);
}

::-webkit-scrollbar-thumb {
  background-color: var(--shadow);
}

::-webkit-scrollbar-thumb:hover {

}

* {
  margin: 0;
  padding: 0;
  transition: all ease-in-out 200ms;
  user-select: none;
  font-family: 'arial';
  color: var(--text);
}

body {
  background-color: var(--background);
  overflow: hidden;
}

#navbar {
  float: left;
  width: 100%;
  height: var(--navHeight);
  list-style-type: none;
  -webkit-app-region: drag;
}

#navbar li {
  height: var(--navHeight);
  line-height: var(--navHeight);
  font-size: calc(var(--navHeight) * 0.65);
}

#navbar li b {
  height: var(--navHeight);
  line-height: var(--navHeight);
  color: var(--controlText);
  width: calc(var(--navHeight) * 7);
  opacity: 0;
  pointer-events: none;
  text-align: center;
  float: right;
  display: none;
}

#navbar li img {
  height: var(--navHeight);
  width: var(--navHeight);
  opacity: 1;
  pointer-events: none;
  float: right;
}

#title {
  position: fixed;
  float: left;
  width: 100%;
  height: var(--navHeight);
  pointer-events: none;
  text-align: left;
  padding-left: 0.5vw;
  -webkit-app-region: drag;
}

#minimize, #maximize, #close {
  float: right;
  width: var(--navHeight);
  text-align: center;
  -webkit-app-region: no-drag;
  overflow: hidden;
  color: var(--controlText);
}

#minimize:hover, #maximize:hover, #close:hover {
  width: calc(var(--navHeight) * 7);
}

#minimize:hover b, #maximize:hover b, #close:hover b {
  opacity: 1;
  display: block;
}

#minimize:hover img, #maximize:hover img, #close:hover img {
  opacity: 0;
  display: none;
}

#minimize {
  background-color: var(--minimizeColor);
}

#maximize {
  background-color: var(--maximizeColor);
}

#close {
  background-color: var(--closeColor);
}

#tabbar {
  float: left;
  width: 100%;
  height: var(--tabHeight);
  list-style-type: none;
  outline-color: rgba(0, 0, 0, 0.15);
  outline-style: solid;
  outline-width: 2px;
}

#tabbar li {
  float: left;
  width: var(--tabWidth);
  height: var(--tabHeight);
  line-height: var(--tabHeight);
  font-size: calc(var(--tabHeight) * 0.65);
  background-color: var(--tabBackground);
  text-align: center;
}

#tabbar li:not(.selected):hover {
  background-color: var(--tabHover);
}

#tabbar li.selected {
  background-color: var(--tabSelected);
}

.show {
  display: block;
  visibility: visible;
}

.hide {
  display: none;
  visibility: hidden;
}

body div {
  float: left;
  width: 100%;
  height: calc(100vh - calc(var(--tabHeight) + var(--navHeight)));
  display: none;
  overflow-y: scroll;
}

body div div {
  display: block;
  top: 50px;
  width: 100%;
  height: auto;
  overflow-y: auto;
}

.seperator {
  background-color: var(--shadow);
}

.seperator div {
  height: 50px;
}
.seperator text {
  margin-left: 10px;
  line-height: 50px;
  float: left;
  font-size: 20px;
  font-weight: bolder;
}

body div div div text {
  margin-left: 10px;
  line-height: 50px;
  float: left;
  font-size: 20px;
  font-weight: normal;
  pointer-events: none;
}

body div div div input {
  margin-top: 6px;
  margin-right: 7px;
  float: right;
  font-size: 20px;
  padding: 5px;
}

input, select {
  display: block;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: var(--text);
  color: var(--text);
  padding: 5px;
}

input:hover, select:hover {
  background-color: var(--hoverHighlight);
}

input:focus, select:focus {
  outline: none;
}

input:active, select:active {
  outline: none;
  background-color: var(--highlight)
}

select option {
  text: var(--text);
  background-color: var(--background);
}

#filters .filter, #search .search {
  height: auto;
  background-color: transparent;
}

#filters .filter div {
  height: auto;
}

#filters .filter div text {
  margin-left: 50px;
}

#filters .filter div ul {
  margin-left: 20px;
  margin-top: 10px;
  float: left;
  height: auto;
  list-style-type: none;
}

#filters .filter div ul li {
  font-size: 20px;
  line-height: 40px;
}

.remove {
  margin-left: 10px;
  display: block;
  margin-top: 10px;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: var(--closeColor);
  color: var(--closeColor);
  padding: 5px;
  font-size: 10px;
}

.setting {
  height: 36px;
}

.setting div {
  width: 50%;
  height: 36px;
  float: left;
}

.setting div text {
  float: right;
  margin-right: 10px;
  font-size: 26px;
  line-height: 36px;
}

.setting div select, .setting div input {
  float: left;
  margin-left: 10px;
  margin-top: 3px;
}

.setting:hover {
  background-color: var(--highlight);
}

#filters .filter:hover, #search .search:hover {
  background-color: var(--hoverHighlight);
}

#search .search input {
  margin-top: 13px;
}

input[type='number'] {
  padding: 2px;
  -moz-appearance: textfield;
  text-align: center;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  margin-left: 0;
  margin-right: 0;
  transform: translateX(-10px);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.incrementor, .decrementor {
  padding: 2px;
  width: 25px;
  border-width: 0;
  border-top-width: 2px;
  border-bottom-width: 2px;
  margin-left: 0;
  margin-right: 0;
}

.incrementor {
  color: var(--maximizeColor);
  border-right-width: 2px;
  transform: translateX(-20px);
}

.decrementor {
  color: var(--closeColor);
  border-left-width: 2px;
}

input[type=checkbox] {
  appearance: none;
  width: 25px;
  height: 25px;
  transform: translateY(3px);
  background-color: var(--closeColor);
}

input[type=checkbox]:checked {
  background-color: var(--maximizeColor);
}

.filterTo {
  text-align: left;
  float: left;
  width: 50%;
  line-height: 24px;
  font-size: 20px;
  margin-bottom: 4px;
  margin-left: 10px;
}
