:root {
  --text: rgb(0, 0, 0);
  --background: rgb(220, 220, 220);

  --tabHeight: 3vh;
  --tabWidth: 25vw;

  --minimizeColor: rgb(220, 220, 50);
  --maximizeColor: rgb(50, 220, 50);
  --closeColor: rgb(220, 50, 50);
  --controlText: rgb(0, 0, 0);

  --tabBackground: rgb(220, 220, 220);
  --tabSelected: rgb(190, 190, 190);
  --tabHover: rgb(210, 210, 210);
}

@font-face {
  font-family: 'ModeNine';
  src: url('MODENINE.TTF');
}

* {
  margin: 0;
  padding: 0;
  transition: all ease-in-out 200ms;
  user-select: none;
  font-family: 'arial';
  color: var(--text);
}

html {
  background-color: var(--background);
  overflow: hidden;
  border-radius: 10%;
}

#navbar {
  float: left;
  width: 100%;
  height: var(--tabHeight);
  list-style-type: none;
  -webkit-app-region: drag;
}

#navbar li {
  height: var(--tabHeight);
  line-height: var(--tabHeight);
  font-size: calc(var(--tabHeight) * 0.65);
}

#navbar li b {
  height: var(--tabHeight);
  opacity: 0;
  pointer-events: none;
  text-align: center;
}

#navbar li span {
  height: var(--tabHeight);
  opacity: 1;
  pointer-events: none;
  text-align: center;
}

#title {
  position: fixed;
  float: left;
  width: 100%;
  pointer-events: none;
  text-align: left;
  padding-left: 0.5vw;
  -webkit-app-region: drag;
}

#minimize, #maximize, #close {
  float: right;
  width: var(--tabHeight);
  text-align: center;
  -webkit-app-region: no-drag;
  overflow: hidden;
  color: var(--controlText);
}

#minimize span, #maximize span, #close span {
  float: right;
  height: var(--tabHeight);
  width: var(--tabHeight);
  color: var(--controlText);
}

#minimize b, #maximize b, #close b {
  float: right;
  height: var(--tabHeight);
  width: calc(var(--tabHeight) * 7);
  display: none;
  color: var(--controlText);
}

#minimize:hover, #maximize:hover, #close:hover {
  width: calc(var(--tabHeight) * 7);
}

#minimize:hover b, #maximize:hover b, #close:hover b {
  opacity: 1;
  display: block;
}

#minimize:hover span, #maximize:hover span, #close:hover span {
  opacity: 0;
  display: none;
}

#minimize {
  border-top-left-radius: calc(var(--tabHeight) * 0.5);
  border-bottom-left-radius: calc(var(--tabHeight) * 0.5);
  background-color: var(--minimizeColor);
}

#maximize {
  background-color: var(--maximizeColor);
}

#close {
  background-color: var(--closeColor);
}

#tabbar {
  float: left;
  width: 100%;
  height: var(--tabHeight);
  list-style-type: none;
  outline-color: rgba(0, 0, 0, 0.15);
  outline-style: solid;
  outline-width: 2px;
}

#tabbar li {
  float: left;
  width: var(--tabWidth);
  height: var(--tabHeight);
  line-height: var(--tabHeight);
  font-size: calc(var(--tabHeight) * 0.65);
  background-color: var(--tabBackground);
  text-align: center;
}

#tabbar li:not(.selected):hover {
  background-color: var(--tabHover);
}

#tabbar li.selected {
  background-color: var(--tabSelected);
}

body div {
  float: left;
  width: 100%;
  height: calc(100vh - calc(var(--tabHeight) * 2));
  visibility: hidden;
  display: none;
}

.show {
  display: block;
  visibility: visible;
}

.hide {
  display: none;
  visibility: hidden;
}
